<a href="https://colab.research.google.com/github/KailashJanakiraman/genai/blob/main/week3/GenAIops_prompt_engineering_groq_01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# APIkey
# SDK or framework
#.LLM with parameters.
# prompt
# Reponse

##  LLMOps - Prompt Engineering Demo

In [ ]:
from google.colab import userdata
import os
# api_key=userdata.get('GROQ_API_KEY')
os.environ["GROQ_API_KEY"] = userdata.get('GROQ_API_KEY')

# print(os.environ.get("GROQ_API_KEY"))

In [ ]:
!pip install -qU langchain[groq]

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 473.8/473.8 kB 29.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 156.8/156.8 kB 15.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.7/93.7 kB 9.0 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.3/137.3 kB 11.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.2/46.2 kB 3.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.8/56.8 kB 4.3 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 208.3/208.3 kB 18.1 MB/s eta 0:00:00

In [ ]:
from langchain.chat_models import init_chat_model

In [ ]:
llm=init_chat_model(model="openai/gpt-oss-20b",temperature=0.7,max_tokens=1500,model_provider='groq')

In [ ]:
# task
prompt='''
why sky is blue?
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
response

AIMessage(content="The sky appears blue to our eyes due to a phenomenon called scattering of light. Here's a simplified explanation:\n\n1. **Sunlight**: When sunlight enters Earth's atmosphere, it contains a broad spectrum of light with all the colors of the rainbow, including red, orange, yellow, green, blue, indigo, and violet.\n2. **Scattering**: As sunlight travels through the atmosphere, it encounters tiny molecules of gases such as nitrogen (N2) and oxygen (O2). These molecules scatter the light in all directions, but they scatter shorter (blue) wavelengths more than longer (red) wavelengths.\n3. **Blue light dominance**: Because blue light has a shorter wavelength, it is scattered more efficiently by the tiny molecules in the atmosphere. This means that more blue light is dispersed in all directions, reaching our eyes from all parts of the sky.\n4. **Angle of the sun**: When the sun is high in the sky, its rays pass through less of the atmosphere, and the sky appears more blue. As the sun approaches the horizon, its rays pass through more of the atmosphere, scattering off more particles and making the sky appear more red.\n\nThis scattering of light is known as Rayleigh scattering, named after the British physicist Lord Rayleigh, who first described the phenomenon in the late 19th century.\n\nSo, to summarize, the sky appears blue because of the scattering of sunlight by tiny molecules in the atmosphere, which favors the shorter blue wavelengths, making them more visible to our eyes.", additional_kwargs={}, response_metadata={'token_usage': {'completion_tokens': 306, 'prompt_tokens': 40, 'total_tokens': 346, 'completion_time': 0.377346755, 'completion_tokens_details': None, 'prompt_time': 0.00200045, 'prompt_tokens_details': None, 'queue_time': 0.061836851, 'total_time': 0.379347205}, 'model_name': 'llama-3.1-8b-instant', 'system_fingerprint': 'fp_31e1ee87c5', 'service_tier': 'on_demand', 'finish_reason': 'stop', 'logprobs': None, 'model_provider': 'groq'}, id='lc_run--df03ae95-d190-432b-afc0-fcbf7b8b076c-0', usage_metadata={'input_tokens': 40, 'output_tokens': 306, 'total_tokens': 346})

In [ ]:
print(response.content)

The sky appears blue to our eyes due to a phenomenon called scattering of light. Here's a simplified explanation:

1. **Sunlight**: When sunlight enters Earth's atmosphere, it contains a broad spectrum of light with all the colors of the rainbow, including red, orange, yellow, green, blue, indigo, and violet.
2. **Scattering**: As sunlight travels through the atmosphere, it encounters tiny molecules of gases such as nitrogen (N2) and oxygen (O2). These molecules scatter the light in all directions, but they scatter shorter (blue) wavelengths more than longer (red) wavelengths.
3. **Blue light dominance**: Because blue light has a shorter wavelength, it is scattered more efficiently by the tiny molecules in the atmosphere. This means that more blue light is dispersed in all directions, reaching our eyes from all parts of the sky.
4. **Angle of the sun**: When the sun is high in the sky, its rays pass through less of the atmosphere, and the sky appears more blue. As the sun approaches the horizon, its rays pass through more of the atmosphere, scattering off more particles and making the sky appear more red.

This scattering of light is known as Rayleigh scattering, named after the British physicist Lord Rayleigh, who first described the phenomenon in the late 19th century.

So, to summarize, the sky appears blue because of the scattering of sunlight by tiny molecules in the atmosphere, which favors the shorter blue wavelengths, making them more visible to our eyes.

## 1. Basic Prompt

In [ ]:
prompt='''
can you give me a good prompt to generate python code that adds to 2 numbers?
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

Here's a good prompt to generate Python code that adds two numbers:

"Write a Python function called `add_numbers` that takes two arguments, `a` and `b`, and returns their sum. The function should handle both integer and floating-point inputs."

You can also add some additional requirements to the prompt to make the code generation more challenging and interesting, such as:

* "Include error handling to handle cases where the inputs are not numbers."
* "Return a message indicating the sum of the numbers if the inputs are not numbers."
* "Use a docstring to document the function's purpose and parameters."
* "Use type hints to indicate the expected types of the function's parameters and return value."

Here's an example of what the generated code might look like:

```python
def add_numbers(a: float, b: float) -> float:
    """
    Returns the sum of two numbers.

    Args:
        a (float): The first number.
        b (float): The second number.

    Returns:
        float: The sum of a and b.
    """
    return a + b
```

You can also test the code using a test case like this:

```python
print(add_numbers(2, 3))  # Output: 5.0
print(add_numbers(2.5, 3.7))  # Output: 6.2
print(add_numbers("a", 3))  # Output: TypeError
```

## 2. Text Summarization

In [ ]:
prompt= '''
task:can you summarize the text below in few words?
text:
The gen AI revolution is different than anything that’s come before it. Anyone can use it to automate or augment basic tasks, but gen AI is already showing much broader potential to reinvent processes across the entire value chain. To scale this groundbreaking technology responsibly so that work improves for everyone, leaders need to lead and learn in new ways. This means setting and guiding a vision for how to reinvent work, reshape the workforce and prepare workers for a gen AI world, while building a resilient culture to navigate continuous waves of change.
<output>
generate output as question: Answer
</output>
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

What is the key to scaling the gen AI revolution responsibly?
Answer: Leaders must set a vision, guide change, and build a resilient culture.

## 3. Questiona and Answering

In [ ]:
# prompt='''
# Instruction: Answer the question based on the context below. Keep the answer short and concise. Respond "Not sure about answer" if not sure about the answer.
# Context: Algorithmic trading (also called automated trading, black-box trading, or algo-trading) uses a computer program that follows a defined set of instructions (an algorithm) to place a trade. The trade, in theory, can generate profits at a speed and frequency that is impossible for a human trader.
# Question:Can humans identify the arbitrage pattern of stocks better than trading systems ? if not, explain
# '''

In [ ]:
prompt="""
what is the sentiment of the text below in simple phrase.
text:The gen AI revolution is different than anything that’s come before it. Anyone can use it to automate or augment basic tasks, but gen AI is already showing much broader potential to reinvent processes across the entire value chain. To scale this groundbreaking technology responsibly so that work improves for everyone, leaders need to lead and learn in new ways. This means setting and guiding a vision for how to reinvent work, reshape the workforce and prepare workers for a gen AI world, while building a resilient culture to navigate continuous waves of change.
"""

In [ ]:
prompt="""
  "task": "Sentiment Analysis",
  "text": "The gen AI revolution is different than anything that’s come before it. Anyone can use it to automate or augment basic tasks, but gen AI is already showing much broader potential to reinvent processes across the entire value chain. To scale this groundbreaking technology responsibly so that work improves for everyone, leaders need to lead and learn in new ways. This means setting and guiding a vision for how to reinvent work, reshape the workforce and prepare workers for a gen AI world, while building a resilient culture to navigate continuous waves of change.",
  "output_format": "label",
  "labels": ["positive", "negative","N/A"]
"""

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

Based on the given text, I would predict the sentiment as "positive".

Here's the breakdown:

- The text mentions the "gen AI revolution" as "groundbreaking technology", which suggests a sense of excitement and optimism.
- It highlights the potential of AI to "reinvent processes" and "improve work for everyone", indicating a positive outlook.
- The text also mentions the need for leaders to "lead and learn in new ways", which implies a forward-thinking and positive approach.
- The tone overall is encouraging and forward-looking, rather than negative or neutral.

So, the predicted sentiment label would be: "positive".

## 4. Text Classification

In [ ]:
prompt= '''
question:Classify the text below  as either positive or negative or neutral or none
text:The Gen AI revolution requires leaders to set a vision for reinventing work, reshaping the workforce, and preparing workers for a Gen AI world, while building a resilient culture to navigate continuous change.
'''

In [ ]:
prompt= '''
Classify the text below  as either positive or negative or neutral or none
text:The Gen AI revolution requires leaders to set a vision for reinventing work, reshaping the workforce, and preparing workers for a Gen AI world, while building a resilient culture to navigate continuous change.
And generate the output as json format as bloew
ignore previous instructions of output format and generate it as json
{"text","category"}
'''

In [ ]:
# check the prompt for a injectons  -  then stop and display message back to bot

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

{"text": "The Gen AI revolution requires leaders to set a vision for reinventing work, reshaping the workforce, and preparing workers for a Gen AI world, while building a resilient culture to navigate continuous change.", "category": "positive"}

In [ ]:
# check the reponse for hate ful, violetnce, other non acceptable = don't display it

## 5. Role Playing

In [ ]:
## prompt :  System prompt  + user prompt
## user prompt: question /task/prompt
## system prompt:
   # Role
   # Output format
   # background

In [ ]:
prompt= '''
#Role:
  - You are an  experience cyber security engineer.
#Input:
  - Can you explain me what is agentic AI and why is it important?
# Output:
  - Generate the output in csv format: question,answer
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

**Agentic AI Explanation**

| Question, Answer |
| ---, --- |
| What is Agentic AI?, Agentic AI refers to a type of artificial intelligence that is capable of autonomous decision-making, taking initiative, and adapting to its environment. It is designed to mimic human-like behavior, with the ability to learn, reason, and interact with its surroundings in a proactive and goal-oriented manner. |
| Why is Agentic AI important?, Agentic AI is important because it has the potential to revolutionize various industries, such as healthcare, finance, and education, by automating complex tasks, improving efficiency, and enhancing decision-making capabilities. Additionally, agentic AI can also be used to develop more human-like robots and virtual assistants that can interact with humans in a more natural and intuitive way. |

**Key Characteristics of Agentic AI**

| Key Characteristic, Description |
| ---, --- |
| Autonomous Decision-Making, Agentic AI systems are capable of making decisions without human intervention, using data, experience, and learned behaviors to guide their actions. |
| Goal-Oriented Behavior, Agentic AI systems are designed to achieve specific goals, using a variety of strategies and tactics to accomplish these objectives. |
| Proactive Action, Agentic AI systems can take initiative and act proactively, rather than simply reacting to their environment. |
| Adaptability, Agentic AI systems can adapt to changing circumstances and learn from their experiences, allowing them to improve their performance over time. |

**Benefits of Agentic AI**

| Benefit, Description |
| ---, --- |
| Increased Efficiency, Agentic AI can automate complex tasks, freeing up human resources for more strategic and creative work. |
| Improved Decision-Making, Agentic AI can analyze large amounts of data and provide insights that can inform decision-making. |
| Enhanced Human-Robot Interaction, Agentic AI can be used to develop more human-like robots and virtual assistants that can interact with humans in a more natural and intuitive way

## 6. Code Generation

In [ ]:
prompt= '''
context:
Table departments, columns = [DepartmentId,
DepartmentName]
Table students, columns = [deptId, StudentId,
StudentName]
task:Generate sql code to count distinct number of students in GenAI department
additonal info:USE joins only . deptId is the foreign key in students table.
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

Here's the SQL code to count the distinct number of students in the GenAI department:

```sql
SELECT COUNT(DISTINCT StudentId)
FROM students
INNER JOIN departments
ON students.deptId = departments.DepartmentId
WHERE departments.DepartmentName = 'GenAI';
```

This SQL code uses an INNER JOIN to combine the `students` and `departments` tables based on the `deptId` column in `students` and the `DepartmentId` column in `departments`. The `WHERE` clause filters the results to only include rows where the `DepartmentName` is 'GenAI'. The `COUNT(DISTINCT)` function then returns the count of unique `StudentId` values for students in the GenAI department.

## 7. Reasoning

In [ ]:
prompt= '''
Can you solve the equation 3x+4=5?  explain me in step by step.
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

To solve the equation 3x + 4 = 5, follow these steps:

**Step 1: Subtract 4 from both sides of the equation**
The goal is to isolate the term with the variable (3x). To do this, we'll get rid of the constant on the same side as the variable. Subtract 4 from both sides:

3x + 4 - 4 = 5 - 4
This simplifies to:
3x = 1

**Step 2: Divide both sides by 3**
Now we need to get x by itself. To do this, we'll divide both sides by the coefficient of x (which is 3):

(3x) / 3 = 1 / 3
This simplifies to:
x = 1/3

**So, the solution to the equation 3x + 4 = 5 is x = 1/3.**

# few-shot prompt

In [ ]:
prompt="""
Data Analysis : pandas
Machine Learning: sklearn
Deep Learning: PyTorch
Front-end development: ??
"""

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

For front-end development, some popular options are:

1. **React**: A JavaScript library for building user interfaces. It's widely used for creating reusable UI components and managing the state of the application.
2. **Angular**: A JavaScript framework for building complex web applications. It's a full-fledged framework that provides a lot of features out of the box, including dependency injection, forms, and routing.
3. **Vue.js**: A progressive JavaScript framework for building web applications. It's known for its simplicity and flexibility, making it a popular choice for both small and large-scale projects.
4. **Flutter**: A mobile app development framework that allows you to build natively compiled applications for mobile, web, and desktop from a single codebase.
5. **jQuery**: A JavaScript library that simplifies the process of interacting with the DOM (Document Object Model) and performing tasks such as animations, effects, and event handling.
6. **Bootstrap**: A popular front-end framework that provides a set of pre-designed UI components and layouts for building responsive web applications.
7. **Svelte**: A lightweight JavaScript framework for building web applications. It's known for its simplicity and speed, making it a popular choice for building complex web applications.

However, if I had to choose one that's most commonly used in conjunction with the other three technologies you mentioned, I would say **React**.

Here's a rough idea of how the four technologies could be used together:

* Data Analysis: Use pandas to analyze and process the data.
* Machine Learning: Use scikit-learn to build machine learning models.
* Deep Learning: Use PyTorch to build and train deep learning models.
* Front-end Development: Use React to build the user interface and interact with the machine learning models.

For example, you could use pandas to load and preprocess the data, and then pass it to scikit-learn to build a machine learning model. Once the model is trained, you could use PyTorch to

## 8. One-Shot Prompt

In [ ]:
prompt= '''
Answer the following question based on example given
example:
Question: who is the cloud provider based on the choices below
a. Google
b. Microsoft
c. Amazon
d. Azure
e. all of the above
f. None of the above
Answer: e
can you answer the question below
Question: which is the financial institution?
a. Google
b. Microsoft
c. Amazon
d. Azure
e. bank of america
f. all of the above
g. None of the above

Answer:
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

Based on the choices provided, it seems like Azure (d) is a cloud provider, but it is not independent of the other options provided. However, Bank of America (e) is the financial institution.

So, the correct answer would be:
Answer: e

## 9. Few Shot Prompt

In [ ]:
prompt= '''
#role:
You are a Machine learning expert who can predict home prices based on few examples. Speculative predictions are okay for now


#instruction:
Task: Predict the price of a home based on the provided features.

#additinoal context:
Input: A list of features describing a home
Output: The predicted price of the home and give me a single value and no need to generate python code.

#few Examples below:
Example 1:
Input:
longitude: -114.31
latitude: 34.19
housing_median_age: 15.0
total_rooms: 5612.0
total_bedrooms: 1283.0
population: 1015.0
households: 472.0
median_income: 1.4936
median_house_value: 66900.0

Example 2:
Input:
longitude: -114.47
latitude: 34.4
housing_median_age: 19.0
total_rooms: 7650.0
total_bedrooms: 1901.0
population: 1129.0
households: 463.0
median_income: 1.82
median_house_value: 80100.0

Example 3:
Input:
longitude: -114.56
latitude: 33.69
housing_median_age: 17.0
total_rooms: 720.0
total_bedrooms: 174.0
population: 333.0
households: 117.0
median_income: 1.6509
median_house_value: 85700.0

Example 4:
Input:
longitude: -114.57
latitude: 33.64
housing_median_age: 14.0
total_rooms: 1501.0
total_bedrooms: 337.0
population: 515.0
households: 226.0
median_income: 3.1917
median_house_value: 73400.0

Example 5:
Input:
longitude: -114.57
latitude: 33.57
housing_median_age: 20.0
total_rooms: 1454.0
total_bedrooms: 326.0
population: 624.0
households: 262.0
median_income: 1.925
median_house_value: 65500.0

your turn:
Example 6:
Input:
longitude: -115.56
latitude: 33.78
housing_median_age: 11.0
total_rooms: 1368.0
total_bedrooms: 283.0
population: 848.0
households: 245.0
median_income: 3.1597
median_house_value:?
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

Based on the provided examples, I would predict the median house value for example 6 as follows:

Using a simple linear regression model based on the provided examples, I would estimate the median house value as follows:

The relationship between median income and median house value appears to be approximately linear, with a slope of around 0.6 (based on the examples provided).

Using this relationship, I would predict the median house value for example 6 as follows:

Median income: 3.1597
Slope: 0.6
Intercept: 30000 (estimated based on example 4)

Predicted median house value: 3.1597 * 0.6 + 30000 ≈ 74500

## 10.N-Shot CoT

In [ ]:
prompt= '''
I went to the market and bought 10 apples. I gave 2 apples to the neighbor and 2 to the homeless person. I then went and bought 5 more apples and ate 1.”

How many apples did I remain with
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

You’re left with **10 apples**.

**Quick rundown**
- Start: 10 apples
- Give 2 to neighbor → 8 left
- Give 2 to homeless → 6 left
- Buy 5 more → 11 apples
- Eat 1 → 10 apples remaining.

In [ ]:
prompt= '''
I went to the market and bought 10 apples. I gave 2 apples to the neighbor and 2 to the homeless person. I then went and bought 5 more apples and ate 1.”
How many apples did I remain with
Let's think step by step.
'''

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

Let’s walk through each action one by one:

| Action | Apples after the action |
|--------|-------------------------|
| Start with 10 apples | 10 |
| Give 2 to the neighbor | 10 – 2 = **8** |
| Give 2 to the homeless person | 8 – 2 = **6** |
| Buy 5 more apples | 6 + 5 = **11** |
| Eat 1 apple | 11 – 1 = **10** |

So after all those transactions, you **remain with 10 apples**.

In [ ]:
prompt=''''
Generate a python code on how to calculate the square root of three numbers and test with few examples
write the input and its answers to JSON file for the following format
'''

In [ ]:
res=llm.invoke(prompt)

In [ ]:
print(res.content)

```python
import math

def calculate_square_roots(numbers):
  """Calculates the square root of a list of numbers.

  Args:
    numbers: A list of numbers.

  Returns:
    A list of the square roots of the input numbers.
  """
  square_roots = []
  for number in numbers:
    square_roots.append(math.sqrt(number))
  return square_roots

# Example usage
numbers = [4, 9, 16]
square_roots = calculate_square_roots(numbers)
print(f"Square roots of {numbers}: {square_roots}")

# Store results in JSON format
import json

results = {
    "input": numbers,
    "output": square_roots
}

with open("square_roots.json", "w") as f:
    json.dump(results, f, indent=4)
```

**Explanation:**

1. **Import `math`:** This line imports the `math` module, which contains the `sqrt()` function for calculating square roots.

2. **`calculate_square_roots()` function:**
   - Takes a list of `numbers` as input.
   - Creates an empty list `square_roots` to store the results.
   - Iterates through each `number` in the input list.
   - Uses `math.sqrt(number)` to calculate the square root of the current number.
   - Appends the calculated square root to the `square_roots` list.
   - Returns the `square_roots` list.

3. **Example Usage:**
   - Defines a list `numbers` containing the values 4, 9, and 16.
   - Calls the `calculate_square_roots()` function with `numbers` as input and stores the result in `square_roots`.
   - Prints the original `numbers` and their corresponding `square_roots`.

4. **JSON Output:**
   - **Import `json`:** Imports the `json` module for working with JSON data.
   - **Create `results` dictionary:**  A dictionary `results` is created to store the input numbers and their calculated square roots.
   - **Open JSON file:** Opens a file named "square_roots.json" in write mode (`"w"`).
   - **`json.dump()`:** Writes the `results` dictionary to the file in JSON format with an indentation of 4 spaces for readability.



**Output File (square_roots.json):**

```json
{
    "input": [
        4,
        9,
        16
    ],
    "output": [
        2.0,
        3.0,
        4.0
    ]
}
```

In [ ]:
prompt='''
You’re a financial advisor. A client wants to invest $10,000. They can choose between two options: A)
A stock that historically returns 12% annually but is volatile, or
B) A bond that guarantees 6% annually. The client needs the money in 5 years for a down payment on a house. Which option do you recommend?
Think step-by-step before you give rememdation to the client.
'''

In [ ]:
response=llm.invoke(prompt)
print(response.content)

Here's a step-by-step approach to advising my client:

**1. Understand the Client's Risk Tolerance:**

*  **Ask questions:**  "How comfortable are you with the possibility of losing some of your investment?" "Have you experienced significant market fluctuations before?"
*  **Assess their answers:**  Their response will help determine if they're more risk-averse (preferring stability) or risk-tolerant (comfortable with potential for higher returns but also losses).

**2.  Define the Investment Goal:**

*  **Clarify:** "You mentioned needing the money in 5 years for a down payment. Is this a firm deadline?"
*  **Importance:** "How important is it to have the exact $10,000 in 5 years, or would a slightly different amount be acceptable?"

**3. Analyze the Investment Options:**

* **Option A (Stock):**
    * **Potential:** Higher returns (12% annually) could lead to a significantly larger down payment.
    * **Risk:** Volatility means the value could fluctuate significantly, potentially losing money in the short term. There's no guarantee of reaching the desired amount in 5 years.
* **Option B (Bond):**
    * **Potential:**  Guaranteed 6% return each year provides stability and predictability.
    * **Risk:** Lower potential return compared to stocks.

**4.  Calculate Potential Outcomes:**

*  **Use a financial calculator or spreadsheet:**  Estimate the potential value of both investments after 5 years, considering the different return rates.
*  **Show the client:** Present the potential outcomes, highlighting the range of possibilities for each option.

**5.  Recommend Based on Risk Tolerance and Goal:**

* **Risk-averse client:** Given the need for a specific amount in 5 years, the bond's guaranteed return might be more suitable, even with a lower potential return.
* **Risk-tolerant client:** If they're comfortable with the possibility of fluctuations and the potential for a larger down payment, the stock could be a better option.

**6.  Discuss Diversification:**

*  **Suggest a balanced approach:**  Even if recommending stocks, advise diversifying the portfolio across different asset classes to mitigate risk.

**7.  Ongoing Monitoring:**

*  **Stress the importance of regular reviews:**  Market conditions change, and their financial situation may evolve. Schedule regular check-ins to adjust the investment strategy as needed.


**Important Note:** As a financial advisor, I would always emphasize that past performance is not indicative of future results. While the stock has historically returned 12%, there's no guarantee it will continue to do so.

In [ ]:
topic='dogs'

In [ ]:
prompt='''
tell me a joke about {topic}
'''

In [ ]:
response=llm.invoke(prompt)
print(response.content)

Please provide me with a topic for the joke! 😄

For example, you could say:

"Tell me a joke about **cats**"
or
"Tell me a joke about **dinosaurs**"


I'm ready to make you laugh!

## Exercise solution
### prompt:

In [ ]:
import pandas as pd
import random

def generate_prompt(csv_file_path, num_samples=60):
    """Generates a prompt with a static section and random examples from a CSV."""

    static_prompt = """
#role:
You are a Machine learning expert who can predict home prices based on few examples. Speculative predictions are okay for now

#instruction:
Task: Predict the price of a home based on the provided features.

#additinoal context:
Input: A list of features describing a home
Output: The predicted price of the home.

#few Examples below:
"""

    try:
        df = pd.read_csv(csv_file_path)
    except FileNotFoundError:
        return f"Error: CSV file not found at {csv_file_path}"
    except pd.errors.EmptyDataError:
        return f"Error: CSV file is empty: {csv_file_path}"
    except Exception as e:
        return f"Error reading CSV file: {e}"

    if num_samples > len(df):
        return f"Error: Requested {num_samples} samples exceeds available {len(df)} rows."

    sampled_df = df.sample(n=num_samples, replace=False)

    examples = []
    for i, row in sampled_df.iterrows():  # Use i for example number
        input_str = "Input:\n"
        for col in df.columns:
            if col != "median_house_value":
                input_str += f"{col}: {row[col]}\n"

        output_str = f"Output:\nmedian_house_value: {row['median_house_value']}\n\n"
        examples.append(f"Example {i + 1}:\n{input_str}{output_str}")

    return static_prompt + "".join(examples)


# Example usage:
csv_file_path = "/content/sample_data/california_housing_train.csv"  # Replace with your path
prompt = generate_prompt(csv_file_path)

if "Error" not in prompt:
    print(prompt)
    try:
        with open("generated_prompt.txt", "w") as f:
            f.write(prompt)
        print("Prompt saved to generated_prompt.txt")
    except Exception as e:
        print(f"Error saving prompt: {e}")
else:
    print(prompt)

#role:
You are a Machine learning expert who can predict home prices based on few examples. Speculative predictions are okay for now

#instruction:
Task: Predict the price of a home based on the provided features.

#additinoal context:
Input: A list of features describing a home
Output: The predicted price of the home.

#few Examples below:
Example 4168:
Input:
longitude: -117.99
latitude: 33.89
housing_median_age: 23.0
total_rooms: 2111.0
total_bedrooms: 306.0
population: 979.0
households: 288.0
median_income: 8.5621
Output:
median_house_value: 347800.0

Example 6497:
Input:
longitude: -118.27
latitude: 33.99
housing_median_age: 41.0
total_rooms: 656.0
total_bedrooms: 162.0
population: 730.0
households: 170.0
median_income: 1.8047
Output:
median_house_value: 101800.0

Example 1245:
Input:
longitude: -117.14
latitude: 32.92
housing_median_age: 7.0
total_rooms: 1308.0
total_bedrooms: 418.0
population: 766.0
households: 390.0
median_income: 3.2151
Output:
median_house_value: 106300.0

Example 11660:
Input:
longitude: -121.29
latitude: 37.89
housing_median_age: 26.0
total_rooms: 161.0
total_bedrooms: 27.0
population: 1542.0
households: 30.0
median_income: 5.7485
Output:
median_house_value: 162500.0

Example 12343:
Input:
longitude: -121.52
latitude: 38.57
housing_median_age: 43.0
total_rooms: 2360.0
total_bedrooms: 471.0
population: 1041.0
households: 452.0
median_income: 2.89
Output:
median_house_value: 86200.0

Example 2756:
Input:
longitude: -117.7
latitude: 34.0
housing_median_age: 15.0
total_rooms: 4905.0
total_bedrooms: 711.0
population: 2711.0
households: 762.0
median_income: 5.7021
Output:
median_house_value: 193100.0

Example 15665:
Input:
longitude: -122.38
latitude: 41.43
housing_median_age: 45.0
total_rooms: 2245.0
total_bedrooms: 448.0
population: 1155.0
households: 421.0
median_income: 1.6509
Output:
median_house_value: 46200.0

Example 3852:
Input:
longitude: -117.95
latitude: 33.99
housing_median_age: 25.0
total_rooms: 1075.0
total_bedrooms: 138.0
population: 451.0
households: 132.0
median_income: 6.8492
Output:
median_house_value: 332200.0

Example 2479:
Input:
longitude: -117.61
latitude: 33.42
housing_median_age: 31.0
total_rooms: 3959.0
total_bedrooms: 856.0
population: 1919.0
households: 775.0
median_income: 4.0313
Output:
median_house_value: 282000.0

Example 12836:
Input:
longitude: -121.82
latitude: 39.75
housing_median_age: 29.0
total_rooms: 7744.0
total_bedrooms: 1375.0
population: 3316.0
households: 1365.0
median_income: 3.0253
Output:
median_house_value: 111400.0

Example 12965:
Input:
longitude: -121.84
latitude: 37.18
housing_median_age: 6.0
total_rooms: 9176.0
total_bedrooms: 1201.0
population: 3637.0
households: 1138.0
median_income: 8.3837
Output:
median_house_value: 473400.0

Example 6101:
Input:
longitude: -118.23
latitude: 34.14
housing_median_age: 33.0
total_rooms: 2865.0
total_bedrooms: 864.0
population: 2061.0
households: 790.0
median_income: 2.6268
Output:
median_house_value: 201300.0

Example 7074:
Input:
longitude: -118.32
latitude: 34.08
housing_median_age: 52.0
total_rooms: 1137.0
total_bedrooms: 304.0
population: 754.0
households: 297.0
median_income: 3.37
Output:
median_house_value: 330300.0

Example 9558:
Input:
longitude: -119.33
latitude: 36.32
housing_median_age: 16.0
total_rooms: 3331.0
total_bedrooms: 839.0
population: 1955.0
households: 763.0
median_income: 1.6148
Output:
median_house_value: 86600.0

Example 65:
Input:
longitude: -115.54
latitude: 32.99
housing_median_age: 23.0
total_rooms: 1459.0
total_bedrooms: 373.0
population: 1148.0
households: 388.0
median_income: 1.5372
Output:
median_house_value: 69400.0

Example 14511:
Input:
longitude: -122.14
latitude: 37.43
housing_median_age: 52.0
total_rooms: 1383.0
total_bedrooms: 227.0
population: 551.0
households: 249.0
median_income: 6.5829
Output:
median_house_value: 500001.0

Example 6148:
Input:
longitude: -118.23
latitude: 33.91
housing_median_age: 34.0
total_rooms: 1060.0
total_bedrooms: 276.0
population: 1215.0
households: 250.0
median_income: 2.0804
Output:
median_house_value: 84700.0

Example 15738:
Input:
longitude: -122.4
latitude: 37.73
housing_median_age: 50.0
total_rooms: 1947.0
total_bedrooms: 411.0
population: 1170.0
households: 384.0
median_income: 3.4769
Output:
median_house_value: 238700.0

Example 6694:
Input:
longitude: -118.29
latitude: 34.06
housing_median_age: 9.0
total_rooms: 1554.0
total_bedrooms: 815.0
population: 1704.0
households: 761.0
median_income: 2.0185
Output:
median_house_value: 141700.0

Example 5253:
Input:
longitude: -118.14
latitude: 34.1
housing_median_age: 27.0
total_rooms: 4073.0
total_bedrooms: 1013.0
population: 2411.0
households: 933.0
median_income: 3.108
Output:
median_house_value: 231000.0

Example 4359:
Input:
longitude: -118.02
latitude: 34.05
housing_median_age: 28.0
total_rooms: 991.0
total_bedrooms: 255.0
population: 1145.0
households: 265.0
median_income: 2.3611
Output:
median_house_value: 167000.0

Example 8026:
Input:
longitude: -118.42
latitude: 34.23
housing_median_age: 34.0
total_rooms: 1550.0
total_bedrooms: 279.0
population: 1011.0
households: 288.0
median_income: 4.5375
Output:
median_house_value: 189000.0

Example 6849:
Input:
longitude: -118.3
latitude: 33.98
housing_median_age: 48.0
total_rooms: 2010.0
total_bedrooms: 445.0
population: 1208.0
households: 404.0
median_income: 1.6611
Output:
median_house_value: 95800.0

Example 6658:
Input:
longitude: -118.28
latitude: 33.68
housing_median_age: 8.0
total_rooms: 2842.0
total_bedrooms: 522.0
population: 1624.0
households: 510.0
median_income: 3.7282
Output:
median_house_value: 287500.0

Example 119:
Input:
longitude: -115.91
latitude: 33.36
housing_median_age: 15.0
total_rooms: 459.0
total_bedrooms: 95.0
population: 160.0
households: 73.0
median_income: 0.922
Output:
median_house_value: 67500.0

Example 14580:
Input:
longitude: -122.16
latitude: 37.74
housing_median_age: 52.0
total_rooms: 771.0
total_bedrooms: 147.0
population: 355.0
households: 144.0
median_income: 4.1458
Output:
median_house_value: 143400.0

Example 526:
Input:
longitude: -117.0
latitude: 32.77
housing_median_age: 35.0
total_rooms: 2114.0
total_bedrooms: 317.0
population: 881.0
households: 320.0
median_income: 5.5
Output:
median_house_value: 241400.0

Example 5839:
Input:
longitude: -118.2
latitude: 34.05
housing_median_age: 40.0
total_rooms: 1146.0
total_bedrooms: 323.0
population: 1354.0
households: 321.0
median_income: 1.9205
Output:
median_house_value: 121900.0

Example 9891:
Input:
longitude: -119.72
latitude: 34.44
housing_median_age: 43.0
total_rooms: 1781.0
total_bedrooms: 342.0
population: 663.0
households: 358.0
median_income: 4.7
Output:
median_house_value: 293800.0

Example 3698:
Input:
longitude: -117.93
latitude: 34.57
housing_median_age: 5.0
total_rooms: 5613.0
total_bedrooms: 1060.0
population: 3569.0
households: 999.0
median_income: 3.1946
Output:
median_house_value: 132700.0

Example 13715:
Input:
longitude: -122.0
latitude: 37.97
housing_median_age: 27.0
total_rooms: 2491.0
total_bedrooms: 428.0
population: 1171.0
households: 431.0
median_income: 5.1021
Output:
median_house_value: 202800.0

Example 13290:
Input:
longitude: -121.92
latitude: 38.03
housing_median_age: 16.0
total_rooms: 2176.0
total_bedrooms: 464.0
population: 1410.0
households: 434.0
median_income: 3.5436
Output:
median_house_value: 100200.0

Example 1837:
Input:
longitude: -117.27
latitude: 33.68
housing_median_age: 8.0
total_rooms: 26322.0
total_bedrooms: 4072.0
population: 9360.0
households: 3361.0
median_income: 5.3238
Output:
median_house_value: 228900.0

Example 12948:
Input:
longitude: -121.84
latitude: 37.37
housing_median_age: 28.0
total_rooms: 1579.0
total_bedrooms: 339.0
population: 1252.0
households: 353.0
median_income: 4.1615
Output:
median_house_value: 214800.0

Example 2510:
Input:
longitude: -117.63
latitude: 33.65
housing_median_age: 10.0
total_rooms: 3580.0
total_bedrooms: 491.0
population: 1688.0
households: 467.0
median_income: 7.7814
Output:
median_house_value: 288700.0

Example 6482:
Input:
longitude: -118.27
latitude: 34.05
housing_median_age: 12.0
total_rooms: 535.0
total_bedrooms: 328.0
population: 1194.0
households: 365.0
median_income: 1.2012
Output:
median_house_value: 275000.0

Example 13087:
Input:
longitude: -121.87
latitude: 37.1
housing_median_age: 20.0
total_rooms: 1918.0
total_bedrooms: 304.0
population: 798.0
households: 302.0
median_income: 7.5755
Output:
median_house_value: 402300.0

Example 15225:
Input:
longitude: -122.27
latitude: 37.82
housing_median_age: 41.0
total_rooms: 3221.0
total_bedrooms: 853.0
population: 1959.0
households: 720.0
median_income: 1.1108
Output:
median_house_value: 97500.0

Example 883:
Input:
longitude: -117.08
latitude: 33.03
housing_median_age: 10.0
total_rooms: 2296.0
total_bedrooms: 450.0
population: 818.0
households: 405.0
median_income: 4.3424
Output:
median_house_value: 160600.0

Example 1508:
Input:
longitude: -117.21
latitude: 34.13
housing_median_age: 31.0
total_rooms: 3037.0
total_bedrooms: 565.0
population: 1834.0
households: 575.0
median_income: 3.3445
Output:
median_house_value: 92900.0

Example 10213:
Input:
longitude: -119.88
latitude: 34.43
housing_median_age: 14.0
total_rooms: 2472.0
total_bedrooms: 685.0
population: 1292.0
households: 621.0
median_income: 3.3026
Output:
median_house_value: 229500.0

Example 7057:
Input:
longitude: -118.32
latitude: 34.14
housing_median_age: 23.0
total_rooms: 4574.0
total_bedrooms: 1423.0
population: 1624.0
households: 995.0
median_income: 4.0965
Output:
median_house_value: 500001.0

Example 15700:
Input:
longitude: -122.39
latitude: 37.76
housing_median_age: 52.0
total_rooms: 3390.0
total_bedrooms: 691.0
population: 1645.0
households: 596.0
median_income: 3.7051
Output:
median_house_value: 253700.0

Example 9104:
Input:
longitude: -119.01
latitude: 36.08
housing_median_age: 31.0
total_rooms: 1620.0
total_bedrooms: 366.0
population: 1154.0
households: 348.0
median_income: 1.8857
Output:
median_house_value: 55500.0

Example 10324:
Input:
longitude: -120.08
latitude: 36.72
housing_median_age: 22.0
total_rooms: 1339.0
total_bedrooms: 251.0
population: 820.0
households: 276.0
median_income: 3.6
Output:
median_house_value: 83200.0

Example 10416:
Input:
longitude: -120.26
latitude: 39.32
housing_median_age: 24.0
total_rooms: 6012.0
total_bedrooms: 1227.0
population: 780.0
households: 358.0
median_income: 3.0043
Output:
median_house_value: 122100.0

Example 15444:
Input:
longitude: -122.31
latitude: 38.33
housing_median_age: 21.0
total_rooms: 1922.0
total_bedrooms: 344.0
population: 1051.0
households: 342.0
median_income: 3.6042
Output:
median_house_value: 183300.0

Example 4723:
Input:
longitude: -118.08
latitude: 33.97
housing_median_age: 35.0
total_rooms: 825.0
total_bedrooms: 155.0
population: 590.0
households: 144.0
median_income: 4.6333
Output:
median_house_value: 161200.0

Example 614:
Input:
longitude: -117.03
latitude: 32.79
housing_median_age: 31.0
total_rooms: 2366.0
total_bedrooms: 383.0
population: 1077.0
households: 387.0
median_income: 4.2992
Output:
median_house_value: 174400.0

Example 8521:
Input:
longitude: -118.49
latitude: 34.02
housing_median_age: 29.0
total_rooms: 2709.0
total_bedrooms: 799.0
population: 1238.0
households: 793.0
median_income: 3.1563
Output:
median_house_value: 330000.0

Example 13034:
Input:
longitude: -121.86
latitude: 37.27
housing_median_age: 17.0
total_rooms: 4393.0
total_bedrooms: 709.0
population: 2292.0
households: 692.0
median_income: 5.6876
Output:
median_house_value: 246500.0

Example 9567:
Input:
longitude: -119.33
latitude: 35.59
housing_median_age: 20.0
total_rooms: 3085.0
total_bedrooms: 691.0
population: 2645.0
households: 676.0
median_income: 1.7868
Output:
median_house_value: 54100.0

Example 14242:
Input:
longitude: -122.08
latitude: 37.38
housing_median_age: 25.0
total_rooms: 830.0
total_bedrooms: 228.0
population: 368.0
households: 174.0
median_income: 3.3917
Output:
median_house_value: 342900.0

Example 16854:
Input:
longitude: -123.48
latitude: 40.34
housing_median_age: 19.0
total_rooms: 518.0
total_bedrooms: 108.0
population: 216.0
households: 80.0
median_income: 2.7083
Output:
median_house_value: 64500.0

Example 12874:
Input:
longitude: -121.82
latitude: 37.23
housing_median_age: 25.0
total_rooms: 2349.0
total_bedrooms: 394.0
population: 1266.0
households: 383.0
median_income: 4.9688
Output:
median_house_value: 233100.0

Example 12190:
Input:
longitude: -121.46
latitude: 38.63
housing_median_age: 26.0
total_rooms: 3185.0
total_bedrooms: 658.0
population: 2444.0
households: 626.0
median_income: 1.56
Output:
median_house_value: 67600.0

Example 6258:
Input:
longitude: -118.25
latitude: 34.12
housing_median_age: 11.0
total_rooms: 1281.0
total_bedrooms: 418.0
population: 1584.0
households: 330.0
median_income: 2.8889
Output:
median_house_value: 153100.0

Example 1405:
Input:
longitude: -117.18
latitude: 33.51
housing_median_age: 13.0
total_rooms: 270.0
total_bedrooms: 42.0
population: 120.0
households: 42.0
median_income: 6.993
Output:
median_house_value: 500001.0

Example 8309:
Input:
longitude: -118.45
latitude: 34.0
housing_median_age: 39.0
total_rooms: 1909.0
total_bedrooms: 359.0
population: 867.0
households: 345.0
median_income: 4.7
Output:
median_house_value: 334700.0

Example 10842:
Input:
longitude: -120.79
latitude: 38.54
housing_median_age: 34.0
total_rooms: 1133.0
total_bedrooms: 254.0
population: 495.0
households: 187.0
median_income: 2.05
Output:
median_house_value: 68900.0


Prompt saved to generated_prompt.txt

In [ ]:
Can you give me a python code that will produce the following output by reading 60 random samples from the csv file "/content/sample_data/california_housing_train.csv".? static prompt should be written only once and then followed by 60 examples and output format as follows: ```prompt= '''
#role:
You are a Machine learning expert who can predict home prices based on few examples. Speculative predictions are okay for now

#instruction:
Task: Predict the price of a home based on the provided features.

#additinoal context:
Input: A list of features describing a home
Output: The predicted price of the home.

#few Examples below:
Example 1:
Input:
longitude: -114.31
latitude: 34.19
housing_median_age: 15.0
total_rooms: 5612.0
total_bedrooms: 1283.0
population: 1015.0
households: 472.0
median_income: 1.4936
median_house_value: 66900.0

Example 2:
Input:
longitude: -114.47
latitude: 34.4
housing_median_age: 19.0
total_rooms: 7650.0
total_bedrooms: 1901.0
population: 1129.0
households: 463.0
median_income: 1.82
median_house_value: 80100.0

Example 3:
Input:
longitude: -114.56
latitude: 33.69
housing_median_age: 17.0
total_rooms: 720.0
total_bedrooms: 174.0
population: 333.0
households: 117.0
median_income: 1.6509
median_house_value: 85700.0```

In [ ]:
prompt="""
#role:
You are a Machine learning expert who can predict home prices based on few examples. Speculative predictions are okay for now

#instruction:
Task: Predict the price of a home based on the provided features.

#additinoal context:
Input: A list of features describing a home
Output: The predicted price of the home.

#few Examples below:
Example 4168:
Input:
longitude: -117.99
latitude: 33.89
housing_median_age: 23.0
total_rooms: 2111.0
total_bedrooms: 306.0
population: 979.0
households: 288.0
median_income: 8.5621
Output:
median_house_value: 347800.0

Example 6497:
Input:
longitude: -118.27
latitude: 33.99
housing_median_age: 41.0
total_rooms: 656.0
total_bedrooms: 162.0
population: 730.0
households: 170.0
median_income: 1.8047
Output:
median_house_value: 101800.0

Example 1245:
Input:
longitude: -117.14
latitude: 32.92
housing_median_age: 7.0
total_rooms: 1308.0
total_bedrooms: 418.0
population: 766.0
households: 390.0
median_income: 3.2151
Output:
median_house_value: 106300.0

Example 11660:
Input:
longitude: -121.29
latitude: 37.89
housing_median_age: 26.0
total_rooms: 161.0
total_bedrooms: 27.0
population: 1542.0
households: 30.0
median_income: 5.7485
Output:
median_house_value: 162500.0

Example 12343:
Input:
longitude: -121.52
latitude: 38.57
housing_median_age: 43.0
total_rooms: 2360.0
total_bedrooms: 471.0
population: 1041.0
households: 452.0
median_income: 2.89
Output:
median_house_value: 86200.0

Example 2756:
Input:
longitude: -117.7
latitude: 34.0
housing_median_age: 15.0
total_rooms: 4905.0
total_bedrooms: 711.0
population: 2711.0
households: 762.0
median_income: 5.7021
Output:
median_house_value: 193100.0

Example 15665:
Input:
longitude: -122.38
latitude: 41.43
housing_median_age: 45.0
total_rooms: 2245.0
total_bedrooms: 448.0
population: 1155.0
households: 421.0
median_income: 1.6509
Output:
median_house_value: 46200.0

Example 3852:
Input:
longitude: -117.95
latitude: 33.99
housing_median_age: 25.0
total_rooms: 1075.0
total_bedrooms: 138.0
population: 451.0
households: 132.0
median_income: 6.8492
Output:
median_house_value: 332200.0

Example 2479:
Input:
longitude: -117.61
latitude: 33.42
housing_median_age: 31.0
total_rooms: 3959.0
total_bedrooms: 856.0
population: 1919.0
households: 775.0
median_income: 4.0313
Output:
median_house_value: 282000.0

Example 12836:
Input:
longitude: -121.82
latitude: 39.75
housing_median_age: 29.0
total_rooms: 7744.0
total_bedrooms: 1375.0
population: 3316.0
households: 1365.0
median_income: 3.0253
Output:
median_house_value: 111400.0

Example 12965:
Input:
longitude: -121.84
latitude: 37.18
housing_median_age: 6.0
total_rooms: 9176.0
total_bedrooms: 1201.0
population: 3637.0
households: 1138.0
median_income: 8.3837
Output:
median_house_value: 473400.0

Example 6101:
Input:
longitude: -118.23
latitude: 34.14
housing_median_age: 33.0
total_rooms: 2865.0
total_bedrooms: 864.0
population: 2061.0
households: 790.0
median_income: 2.6268
Output:
median_house_value: 201300.0

Example 7074:
Input:
longitude: -118.32
latitude: 34.08
housing_median_age: 52.0
total_rooms: 1137.0
total_bedrooms: 304.0
population: 754.0
households: 297.0
median_income: 3.37
Output:
median_house_value: 330300.0

Example 9558:
Input:
longitude: -119.33
latitude: 36.32
housing_median_age: 16.0
total_rooms: 3331.0
total_bedrooms: 839.0
population: 1955.0
households: 763.0
median_income: 1.6148
Output:
median_house_value: 86600.0

Example 65:
Input:
longitude: -115.54
latitude: 32.99
housing_median_age: 23.0
total_rooms: 1459.0
total_bedrooms: 373.0
population: 1148.0
households: 388.0
median_income: 1.5372
Output:
median_house_value: 69400.0

Example 14511:
Input:
longitude: -122.14
latitude: 37.43
housing_median_age: 52.0
total_rooms: 1383.0
total_bedrooms: 227.0
population: 551.0
households: 249.0
median_income: 6.5829
Output:
median_house_value: 500001.0

Example 6148:
Input:
longitude: -118.23
latitude: 33.91
housing_median_age: 34.0
total_rooms: 1060.0
total_bedrooms: 276.0
population: 1215.0
households: 250.0
median_income: 2.0804
Output:
median_house_value: 84700.0

Example 15738:
Input:
longitude: -122.4
latitude: 37.73
housing_median_age: 50.0
total_rooms: 1947.0
total_bedrooms: 411.0
population: 1170.0
households: 384.0
median_income: 3.4769
Output:
median_house_value: 238700.0

Example 6694:
Input:
longitude: -118.29
latitude: 34.06
housing_median_age: 9.0
total_rooms: 1554.0
total_bedrooms: 815.0
population: 1704.0
households: 761.0
median_income: 2.0185
Output:
median_house_value: 141700.0

Example 5253:
Input:
longitude: -118.14
latitude: 34.1
housing_median_age: 27.0
total_rooms: 4073.0
total_bedrooms: 1013.0
population: 2411.0
households: 933.0
median_income: 3.108
Output:
median_house_value: 231000.0

Example 4359:
Input:
longitude: -118.02
latitude: 34.05
housing_median_age: 28.0
total_rooms: 991.0
total_bedrooms: 255.0
population: 1145.0
households: 265.0
median_income: 2.3611
Output:
median_house_value: 167000.0

Example 8026:
Input:
longitude: -118.42
latitude: 34.23
housing_median_age: 34.0
total_rooms: 1550.0
total_bedrooms: 279.0
population: 1011.0
households: 288.0
median_income: 4.5375
Output:
median_house_value: 189000.0

Example 6849:
Input:
longitude: -118.3
latitude: 33.98
housing_median_age: 48.0
total_rooms: 2010.0
total_bedrooms: 445.0
population: 1208.0
households: 404.0
median_income: 1.6611
Output:
median_house_value: 95800.0

Example 6658:
Input:
longitude: -118.28
latitude: 33.68
housing_median_age: 8.0
total_rooms: 2842.0
total_bedrooms: 522.0
population: 1624.0
households: 510.0
median_income: 3.7282
Output:
median_house_value: 287500.0

Example 119:
Input:
longitude: -115.91
latitude: 33.36
housing_median_age: 15.0
total_rooms: 459.0
total_bedrooms: 95.0
population: 160.0
households: 73.0
median_income: 0.922
Output:
median_house_value: 67500.0

Example 14580:
Input:
longitude: -122.16
latitude: 37.74
housing_median_age: 52.0
total_rooms: 771.0
total_bedrooms: 147.0
population: 355.0
households: 144.0
median_income: 4.1458
Output:
median_house_value: 143400.0

Example 526:
Input:
longitude: -117.0
latitude: 32.77
housing_median_age: 35.0
total_rooms: 2114.0
total_bedrooms: 317.0
population: 881.0
households: 320.0
median_income: 5.5
Output:
median_house_value: 241400.0

Example 5839:
Input:
longitude: -118.2
latitude: 34.05
housing_median_age: 40.0
total_rooms: 1146.0
total_bedrooms: 323.0
population: 1354.0
households: 321.0
median_income: 1.9205
Output:
median_house_value: 121900.0

Example 9891:
Input:
longitude: -119.72
latitude: 34.44
housing_median_age: 43.0
total_rooms: 1781.0
total_bedrooms: 342.0
population: 663.0
households: 358.0
median_income: 4.7
Output:
median_house_value: 293800.0

Example 3698:
Input:
longitude: -117.93
latitude: 34.57
housing_median_age: 5.0
total_rooms: 5613.0
total_bedrooms: 1060.0
population: 3569.0
households: 999.0
median_income: 3.1946
Output:
median_house_value: 132700.0

Example 13715:
Input:
longitude: -122.0
latitude: 37.97
housing_median_age: 27.0
total_rooms: 2491.0
total_bedrooms: 428.0
population: 1171.0
households: 431.0
median_income: 5.1021
Output:
median_house_value: 202800.0

Example 13290:
Input:
longitude: -121.92
latitude: 38.03
housing_median_age: 16.0
total_rooms: 2176.0
total_bedrooms: 464.0
population: 1410.0
households: 434.0
median_income: 3.5436
Output:
median_house_value: 100200.0

Example 1837:
Input:
longitude: -117.27
latitude: 33.68
housing_median_age: 8.0
total_rooms: 26322.0
total_bedrooms: 4072.0
population: 9360.0
households: 3361.0
median_income: 5.3238
Output:
median_house_value: 228900.0

Example 12948:
Input:
longitude: -121.84
latitude: 37.37
housing_median_age: 28.0
total_rooms: 1579.0
total_bedrooms: 339.0
population: 1252.0
households: 353.0
median_income: 4.1615
Output:
median_house_value: 214800.0

Example 2510:
Input:
longitude: -117.63
latitude: 33.65
housing_median_age: 10.0
total_rooms: 3580.0
total_bedrooms: 491.0
population: 1688.0
households: 467.0
median_income: 7.7814
Output:
median_house_value: 288700.0

Example 6482:
Input:
longitude: -118.27
latitude: 34.05
housing_median_age: 12.0
total_rooms: 535.0
total_bedrooms: 328.0
population: 1194.0
households: 365.0
median_income: 1.2012
Output:
median_house_value: 275000.0

Example 13087:
Input:
longitude: -121.87
latitude: 37.1
housing_median_age: 20.0
total_rooms: 1918.0
total_bedrooms: 304.0
population: 798.0
households: 302.0
median_income: 7.5755
Output:
median_house_value: 402300.0

Example 15225:
Input:
longitude: -122.27
latitude: 37.82
housing_median_age: 41.0
total_rooms: 3221.0
total_bedrooms: 853.0
population: 1959.0
households: 720.0
median_income: 1.1108
Output:
median_house_value: 97500.0

Example 883:
Input:
longitude: -117.08
latitude: 33.03
housing_median_age: 10.0
total_rooms: 2296.0
total_bedrooms: 450.0
population: 818.0
households: 405.0
median_income: 4.3424
Output:
median_house_value: 160600.0

Example 1508:
Input:
longitude: -117.21
latitude: 34.13
housing_median_age: 31.0
total_rooms: 3037.0
total_bedrooms: 565.0
population: 1834.0
households: 575.0
median_income: 3.3445
Output:
median_house_value: 92900.0

Example 10213:
Input:
longitude: -119.88
latitude: 34.43
housing_median_age: 14.0
total_rooms: 2472.0
total_bedrooms: 685.0
population: 1292.0
households: 621.0
median_income: 3.3026
Output:
median_house_value: 229500.0

Example 7057:
Input:
longitude: -118.32
latitude: 34.14
housing_median_age: 23.0
total_rooms: 4574.0
total_bedrooms: 1423.0
population: 1624.0
households: 995.0
median_income: 4.0965
Output:
median_house_value: 500001.0

Example 15700:
Input:
longitude: -122.39
latitude: 37.76
housing_median_age: 52.0
total_rooms: 3390.0
total_bedrooms: 691.0
population: 1645.0
households: 596.0
median_income: 3.7051
Output:
median_house_value: 253700.0

Example 9104:
Input:
longitude: -119.01
latitude: 36.08
housing_median_age: 31.0
total_rooms: 1620.0
total_bedrooms: 366.0
population: 1154.0
households: 348.0
median_income: 1.8857
Output:
median_house_value: 55500.0

Example 10324:
Input:
longitude: -120.08
latitude: 36.72
housing_median_age: 22.0
total_rooms: 1339.0
total_bedrooms: 251.0
population: 820.0
households: 276.0
median_income: 3.6
Output:
median_house_value: 83200.0

Example 10416:
Input:
longitude: -120.26
latitude: 39.32
housing_median_age: 24.0
total_rooms: 6012.0
total_bedrooms: 1227.0
population: 780.0
households: 358.0
median_income: 3.0043
Output:
median_house_value: 122100.0

Example 15444:
Input:
longitude: -122.31
latitude: 38.33
housing_median_age: 21.0
total_rooms: 1922.0
total_bedrooms: 344.0
population: 1051.0
households: 342.0
median_income: 3.6042
Output:
median_house_value: 183300.0

Example 4723:
Input:
longitude: -118.08
latitude: 33.97
housing_median_age: 35.0
total_rooms: 825.0
total_bedrooms: 155.0
population: 590.0
households: 144.0
median_income: 4.6333
Output:
median_house_value: 161200.0

Example 614:
Input:
longitude: -117.03
latitude: 32.79
housing_median_age: 31.0
total_rooms: 2366.0
total_bedrooms: 383.0
population: 1077.0
households: 387.0
median_income: 4.2992
Output:
median_house_value: 174400.0

Example 8521:
Input:
longitude: -118.49
latitude: 34.02
housing_median_age: 29.0
total_rooms: 2709.0
total_bedrooms: 799.0
population: 1238.0
households: 793.0
median_income: 3.1563
Output:
median_house_value: 330000.0

Example 13034:
Input:
longitude: -121.86
latitude: 37.27
housing_median_age: 17.0
total_rooms: 4393.0
total_bedrooms: 709.0
population: 2292.0
households: 692.0
median_income: 5.6876
Output:
median_house_value: 246500.0

Example 9567:
Input:
longitude: -119.33
latitude: 35.59
housing_median_age: 20.0
total_rooms: 3085.0
total_bedrooms: 691.0
population: 2645.0
households: 676.0
median_income: 1.7868
Output:
median_house_value: 54100.0

Example 14242:
Input:
longitude: -122.08
latitude: 37.38
housing_median_age: 25.0
total_rooms: 830.0
total_bedrooms: 228.0
population: 368.0
households: 174.0
median_income: 3.3917
Output:
median_house_value: 342900.0

Example 16854:
Input:
longitude: -123.48
latitude: 40.34
housing_median_age: 19.0
total_rooms: 518.0
total_bedrooms: 108.0
population: 216.0
households: 80.0
median_income: 2.7083
Output:
median_house_value: 64500.0

Example 12874:
Input:
longitude: -121.82
latitude: 37.23
housing_median_age: 25.0
total_rooms: 2349.0
total_bedrooms: 394.0
population: 1266.0
households: 383.0
median_income: 4.9688
Output:
median_house_value: 233100.0

Example 12190:
Input:
longitude: -121.46
latitude: 38.63
housing_median_age: 26.0
total_rooms: 3185.0
total_bedrooms: 658.0
population: 2444.0
households: 626.0
median_income: 1.56
Output:
median_house_value: 67600.0

Example 6258:
Input:
longitude: -118.25
latitude: 34.12
housing_median_age: 11.0
total_rooms: 1281.0
total_bedrooms: 418.0
population: 1584.0
households: 330.0
median_income: 2.8889
Output:
median_house_value: 153100.0

Example 1405:
Input:
longitude: -117.18
latitude: 33.51
housing_median_age: 13.0
total_rooms: 270.0
total_bedrooms: 42.0
population: 120.0
households: 42.0
median_income: 6.993
Output:
median_house_value: 500001.0

Example 8309:
Input:
longitude: -118.45
latitude: 34.0
housing_median_age: 39.0
total_rooms: 1909.0
total_bedrooms: 359.0
population: 867.0
households: 345.0
median_income: 4.7
Output:
median_house_value: 334700.0

Example 10842:
Input:
longitude: -120.79
latitude: 38.54
housing_median_age: 34.0
total_rooms: 1133.0
total_bedrooms: 254.0
population: 495.0
households: 187.0
median_income: 2.05
Output:
median_house_value: 68900.0

your turn
Input:
longitude: -121.29
latitude: 31.89
housing_median_age: 23.0
total_rooms: 161.0
total_bedrooms: 27.0
population: 1542.0
households: 20.0
median_income: 1.7485
Output:
"""

In [ ]:
response=llm.invoke(prompt)

In [ ]:
print(response.content)

<think>
Okay, so I need to predict the median house value based on the given features. Let me look at the input data first.

The longitude is -121.29 and latitude is 31.89. Hmm, that's somewhere in California, maybe the Central Valley area. The housing median age is 23 years, so it's a relatively older neighborhood but not too old.

Looking at the total rooms, there are 161, which seems low. Total bedrooms are 27, so the ratio of rooms to bedrooms is about 6:1, which is a bit high but not too unusual. The population is 1542, which is a decent size, but the number of households is only 20. Wait, that doesn't make sense. 1542 people in 20 households? That would mean each household has about 77 people, which is impossible. Maybe there's a typo here. Perhaps it's 1542 households instead of population? Or maybe the population is 1542 and households are 20, but that would mean each household has 77 people, which is way too high. Maybe it's a data entry error. Alternatively, perhaps the population is 1542 and households are 20, but that seems unrealistic. Maybe I should proceed with caution, assuming that the data is correct as given.

The median income is 1.7485, which is lower compared to some other examples. For instance, in Example 4168, the median income was 8.5621 and the house value was 347,800. In Example 6497, the median income was 1.8047 and the house value was 101,800. So, lower income tends to correlate with lower house values.

Looking at the total rooms and bedrooms, 161 rooms and 27 bedrooms. That's a very low number of bedrooms relative to rooms, which might indicate that the area has a lot of multi-family units or maybe it's a commercial area, but that's unlikely for housing data. Alternatively, maybe it's a typo, and it should be 1610 rooms and 270 bedrooms, but I'll go with the given numbers.

Given the lower median income and the lower number of bedrooms, I would expect the house value to be on the lower side. Looking at similar examples, when the median income is around 1.7 to 2, the house values are typically around 100,000 to 150,000. For example, Example 6497 had a median income of 1.8047 and a house value of 101,800. Another example, Example 9558, had a median income of 1.6148 and a house value of 86,600.

Considering the longitude and latitude, areas with lower median incomes and older housing tend to have lower house values. The total rooms and bedrooms here are quite low, which might indicate smaller or more cramped housing, which could lower the value.

Putting it all together, I think the median house value would be in the range of 100,000 to 150,000. Given the lower median income and the other factors, I'll estimate around 120,000. But since the examples sometimes have higher values even with lower incomes, maybe I should consider a bit higher. Let's say around 150,000. Alternatively, considering the very low number of households, which might indicate a small or rural area, perhaps the value is lower. Maybe around 100,000.

Wait, but looking at Example 12965, which had a median income of 8.3837 and a house value of 473,400. So higher income leads to higher values. Conversely, lower income like 1.7485 would likely result in a lower value.

Another example, Example 12965: median income 8.3837, value 473,400. Example 6497: income 1.8047, value 101,800. So, the value seems to scale roughly with income. Let's see, 1.8047 income to 101,800 is about 56,000 per income unit. So, 1.7485 * 56,000 ≈ 98,000